<div class="alert-card" *ngIf="invalidKeyLength">
    <span>Key Length Must Be 8</span>
</div>

<div class="main-content ion-padding-horizontal">

    <div class="goBackBtnContainer" routerLink="">
        <div class="goBackBtn">
            <img src="../../../assets/icon/log-out.svg" alt="">
        </div>
    </div>

    <section class="encrypt-input-section">
        <p>Enter your key</p>
        <input type="text" #key>
        <div class="sourceEnter">
            <p>Enter your source</p>
            <img src="../../../assets/images/file.png" width="24px" (click)="txtFileInput.click()">
            <input type="file" #txtFileInput hidden accept=".txt" (change)="insertFileData(txtFileInput.files)">
        </div>
        <textarea rows="5" #message></textarea>
        <input type="button" value="Compress" (click)="compressMessage(message.value)">
    </section>

    <section class="encrypt-output-section">

        <p>Compress Result</p>
        <textarea rows="5" [(ngModel)]="lzwResponse"></textarea>

        <input type="button" value="Encrypt" [style.background-color]="enableEncryptBtn? '#1f4287 !important': '#33333355 !important'" (click)="encryptMessage(key.value)">

        <p>Encrypt Result</p>
        <textarea rows="5" [(ngModel)]="desResponse"></textarea>

    </section>
</div>