<div class="main-content ion-padding-horizontal">

    <div class="goBackBtnContainer" routerLink="">
        <div class="goBackBtn">
            <img src="../../../assets/icon/log-out.svg" alt="">
        </div>
    </div>

    <section class="decrypt-input-section">
        <p>Enter your key</p>
        <input type="text" #key>
        <p>Enter your source</p>
        <textarea rows="5" #message></textarea>
        <input type="button" value="Decrypt" (click)="decryptMessage(key.value, message.value)">
    </section>

    <section class="decrypt-output-section">

        <p>Decrypt Result</p>
        <textarea rows="5" [(ngModel)]="desResponse"></textarea>

        <input type="button" value="Encrypt" [style.background-color]="enableDecompressBtn? '#1f4287 !important': '#33333355 !important'" (click)="decompressMessage(key.value)">

        <p>Decompress Result</p>
        <textarea rows="5" [(ngModel)]="lzwResponse"></textarea>

    </section>
</div>